:root{
    --cor-bg-principal: #E5E5E5;
    --cor-bg-card: #C4C4C4;
    --cor-bg-button: #C4C4C4;
    --cor-border-button: #292626;
    --cor-icon: #222121;
}


.menu-infoUser-img img{
    width: 50%;
}
.menu-infoUser-img{
    text-align: center;

}
.menu-infoUser-nome{
    font-size: 10px;
    padding: 4%;
    text-align: center;
}
.menu-infoUser-nome p {
    margin: auto;
    font-size: 0.9rem;

}

.menu-links{
    margin-top: 40%;
    padding-left: 20%;
}

.list-group a{
    text-decoration: none
}
.menu-links h2{
    font-size: 14px;
}

/* removendo linha da lista */
.list-group-item{
    border: 0;
    font-size: 12px;
    
}


/* #############  FEED  #############*/


.create-post{
    background-color: var(--cor-bg-principal);
    height: 100vh;
}
.create-post-container{
    height: 100vh
}

.create-post-post-create{
    margin-bottom: 5%;
}

.create-post-post-create-img img{
    width: 90%;
}


.create-post-post-textArea textarea{
    font-size: 12px;
    background-color: var(--cor-bg-card);
    padding: 1%;
    border-radius: 0;
    
}

/*#### forms ####*/
.label{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(33, 37, 41);
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    border: 1px solid rgb(206, 212, 218);
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

textarea {
    resize: none;
  }

/*########## mobile-nav ########## */
.icon-share, .icon-chat {
    text-align: center;
}

svg{
    color: var(--cor-icon)
}




/*mobile*/
@media (max-width: 700px) {

    .menu-infoUser-img img{
        width: 10vw;
        margin-top: 5%;
    }
    .menu-infoUser-img{
        text-align: center;
    
    }

    .create-post {
        height: 90vh;

    }

    .create-post-container{
        height: 90vh;
    }

    .desktop{
        display: none;
    }

    .mobile-nav{
        height: 10vh;
    }

    .mobile-nav-favorite, .mobile-nav-post, .mobile-nav-perfil{
        text-align: center;
        margin-top: 2%;
    }
}


/* DESKTOP */
@media (min-width: 700px) {
  
    .mobile{
        display: none;
    }
 
}

