
.menu-infoUser-img img{
    width: 50%;
}
.menu-infoUser-img{
    text-align: center;

}
.menu-infoUser-nome{
    font-size: 10px;
    padding: 4%;
    text-align: center;
}
.menu-infoUser-nome p {
    margin: auto;
    font-size: 0.9rem;

}

.menu-links{
    margin-top: 40%;
    padding-left: 20%;
}
.menu-links h2{
    font-size: 14px;
}

/* removendo linha da lista */
.list-group-item{
    border: 0;
    font-size: 12px;
    
}


/* #############  FEED  #############*/


.feed{
    background-color: #E5E5E5;
    height: 100vh;
}
.feed-container{
    height: 100vh
}

.feed-post-create{
    margin-bottom: 5%;
}

.feed-post-create-img img{
    width: 90%;
    
}


.feed-post-textArea textarea{
    font-size: 12px;
    background-color: #C4C4C4;
    padding: 1%;
    border-radius: 0;
    
}

.feed-itens-cards{
    /* height: 80vh; */
}

.card{
    background-color: #C4C4C4;
    border-radius: 1;

}

.feed-itens-cards-img {
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.feed-itens-cards-img img{
    margin: 1%;
    width: 95%;
}


.card{
    max-width: 800px;
}

.card-text{
    font-size: 0.99rem;

}

.icon-heart, .icon-share, .icon-chat {
    text-align: center;

}


/*########## mobile-nav ########## */
/* .desktop{
    height: ;
} */



/* MOBILE */

.feed-itens-cards-table tr td {
    font-size: 0.9rem;
}


.feed-itens-cards-info-mobile {
    display: none;
    
}

@media (max-width: 700px) {

    .menu-infoUser-img img{
        width: 10vw;
        margin-top: 5%;
    }
    .menu-infoUser-img{
        text-align: center;
    
    }

    .feed {
        height: 90vh;

    }

    .feed-container{
        height: 90vh;
    }

    .desktop{
        display: none;
    }

    .mobile-nav{
        height: 10vh;
    }

    .mobile-nav-favorite, .mobile-nav-post, .mobile-nav-perfil{
        text-align: center;
        margin-top: 2%;
    }
}


/* DESKTOP */
@media (min-width: 700px) {
    /* .mobile-nav {
        display: none;
    }

    .feed, .feed-container{
        height: 100vh;
    } */

    .mobile{
        display: none;
    }
 

    
}

